*{
    padding: 0;
    margin: 0;
    cursor: pointer;
}
body {
    background-image: url('../273243715_683074719531743_8751120382842073530_n.png');
  }
.khung {
    display: block;
    margin-right: 5%;
    margin-left: 5%;
    /* justify-content: center;   */
    
}
.word1{
    margin-top: 10%; 
    margin-left: 10%; 
    display: flex;
    font-size: 300%; 
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    letter-spacing: .1em;
    /* text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9); */
}

.login{
    height: 500px;
    width: 55%;
    margin-left: 25%;
    margin-top: 5%;
    color: rgb(175, 84, 9);
    font-weight: bold;
    font-family: Lucida Sans Unicode;
    border: 1px gray solid;
    border-radius: 15px;
    background: rgba(255, 255, 255,0.7) ;
    box-shadow: 0px 0px 17px 2px rgba(255, 255, 255,0.8);
}
.submit{
    margin-left: 10%;
    margin-top: 10px;
    background-color: inherit;
    width: 20%;
    border: 1px gray solid;
    box-shadow: 2px 2px 2px rgb(102, 102, 102);
}
.hopthoai{
    margin: 5%;
    /* margin-top: 5%; */
    font-size: 15px;
    background: transparent;
    width: 300px;
    border: 0;
    outline: 0;
    color: rgb(51, 51, 51);
    border-bottom: 1px solid rgb(49, 47, 47);
}
.sex{
    margin-left: 10%;
}


.container-fluid img{
    width:25%;
    margin-left: 5%;
    margin-top: 3%;
}