body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: rgba(0,0,0,0.4);
    padding: 0 100px ;
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
    0 2px 2px rgba(0,0,0,0.12),
    0 4px 4px rgba(0,0,0,0.12),
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}
nav .brand{
    float: left;
    height: 100%;
    line-height: 80px;
    color: #fff;
}
nav .brand img{
    margin: 0;
    padding: 0;

}
nav ul{
    float: right;
    display: flex;
    margin:0;
    padding: 0;
}
nav ul li{
    list-style: none;
    color: #fff;
}
 nav ul li i {
    margin-top: 10px;
}
nav ul li input {
    display: flex;
    justify-content: center;
    text-align: start;
    color: #fff;
}
nav ul li input::placeholder{
    color: #fff;
}
nav ul .search{
    display: flex;
    justify-content: center;
    text-align: start;
    color: #fff;
    margin-top: 20px;
}
 nav ul li input{
    background-color: inherit;
    display: flex;
    justify-content: center;
    border: none;
    height: 40px;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 17px;
    text-transform: uppercase;
    transition: 0.5s
 }
nav ul li a{
    position: relative;
    display: block;
    height: 80px;
    line-height: 80px;
    padding: 0 20px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    transition: 0.5s
}
nav ul li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform-origin: right;
    z-index: -1;
    transform: scaleX(0);
    transition:  transform 0.5s;
}
nav ul li a:hover:before{
    transform-origin: left;
    transform: scaleX(1);
}
nav ul li a:hover{
     color: #262626;
 }

 video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    color: #fff;
   }
.brand img{
    width: 70px;
}
h4{
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    font-size: 150px;
    font-family:Playfair Display;
    border:dotted;
    border-color: orange;
    letter-spacing: .1em;
    margin: 300px;
    line-height: 80px;
    color: rgb(255, 255, 255);
    text-overflow: ellipsis;
}

.picture{
    margin-left: 50px;
    width: 700px;
}
.infor{ 
    width: 700px;
}
.info__text{
    text-transform: uppercase;
    color: rgb(243, 121, 33);
    letter-spacing: .4em;
}

@keyframes filling {
    from{
      background-position: center 20%;
    }
    to {
      background-position: center 45%;
    }
  }
  
  .info__title {
    background-image:  url(272330999_621484488911328_4866593622205542685_n.png);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color:  #FFFFFF;
    padding-top: 20px;
    font-size: 50px;
    font-family: 'Bungee', cursive;
    animation: filling 3s ease forwards;
  }
  .content{
      font-family: Cambria, Cochin, Georgia;
      font-size: 18px;
  }
  .room {
      margin-left: 40px;
  }
  .room ul li{
    font-size: 20px;
  }
  .room ul li h5 {
    font-family: Cambria, Cochin, Georgia;
      font-size: 20px;
  }
  
  .info__button  {
    margin-left: 10%;
    margin-top: 10px;
    background-color: inherit;
    width: 120px;
    border: 1px gray solid;
    box-shadow: 2px 2px 2px rgb(102, 102, 102);
  }
  
  .footer{
      background-color: rgb(255, 207, 103);
      height: 250px;
      margin-top: 900px;
  }
  .footer__detail{
    margin-top: 40px;
  }

  